html {
    background-color: #fffff8;
    background-image: url('/img/soft_circle_scales.png');
}

html,
body {
    overflow: auto;
}




/* Fonts */
@font-face {
    font-family: 'Triforce';
    src: url('/fonts/Triforce.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Hylia Serif';
    src: url('/fonts/HyliaSerif/HyliaSerifBeta-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Charlemagne';
    src: url('/fonts/Charlemagne/Charlemagne.ttf');
    font-weight: 400;
    font-style: normal;
}

.fonts-loaded .display-text,
.fonts-loaded .charlemagne {
    font-family: 'Charlemagne';
}

.fonts-loaded .zelda,
.fonts-loaded .triforce {
    font-family: 'Triforce';
}



.fonts-loaded #text {
    font-family: 'Triforce', Georgia, serif;
    letter-spacing: .05em;
    font-size: 1.2em;
    line-height: 1.3
}

.fonts-loaded body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: .02em;
    font-size: 1.2em;
}

.fonts-loaded button,
.fonts-loaded .hylia-serif {
    font-family: 'Hylia Serif';
}





body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 230, .4);
}

hr {
    border: 0;
    border-bottom: 1px solid #fffff8;
}

footer {
    background-color: rgba(40, 120, 140, .6);
    color: #fffff8;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-top: 3rem;
    font-size: .75em;
}

footer a {
    color: #fffff8;
}

.text-align-center {
    text-align: center;
    margin-bottom: 0;
}





/* Layout */
main {
    min-height: 65vh;
}

.layout-container {
    margin: 0 auto 1em;
    width: 95%;
    max-width: 1000px;
}

@media (min-width: 50em) {
    .layout-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 2em;

    }
}






a {
    color: rgb(40, 120, 140);
}

button {
    border: 2px solid rgb(70, 130, 70);
    padding: .5em 1em;
    background: rgb(70, 130, 70);
    color: white;
    letter-spacing: .1em;
    font-size: .85em;
}

button:first-of-type {
    margin-right: 1em;
}

.display-text {
    color: rgb(202, 1, 12);
    position: relative;
    width: 7em;
    margin: 1em auto;
}

.display__small {
    font-size: 0.4em;
    position: absolute;
    right: 1.85em;
}

.zelda {
    font-size: 3em;
    text-shadow: 3px 3px 5px lightgray;
}

p {
    line-height: 1.5;
}

.heart-container {
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
}


#text {
    width: 100%;
    min-height: 60vh;
    font-family: Sherwood;
    font-size: 1.2em;
    letter-spacing: .05em;
    background: rgba(255, 255, 230, .2);
    border: 1px solid lightgrey;
    padding: .5em;
}


/* Form */
.form {
    margin-top: 1em;
}

.form-control {
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
}

.form__label,
.form__input {
    display: inline-block;
    font-family: 'Hylia Serif';
    letter-spacing: .05em;
    margin-bottom: 1em;
}

.form__label {
    margin-right: 1em;
}

.form__input {
    height: 1.2em;
    padding: .25em 0;
    align-self: center;
    text-align: right;
    max-width: 4em;
    background-color: rgba(255, 255, 248, .6);
    border-style: solid;
    font-size: 1.2em;
}
