.display-text {
    color: rgb(202, 1, 12);
    position: relative;
    width: 7em;
    margin: 1em auto;
}

.display__small {
    font-size: 0.4em;
    position: absolute;
    right: 1.85em;
}

.zelda {
    font-size: 3em;
    text-shadow: 3px 3px 5px lightgrey;
}

p {
    line-height: 1.5;

}


.layout-container {
    margin: 0 auto 1em;
    width: 95%;
    max-width: 1000px;
}

@media (min-width: 50em) {
    .layout-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 2em;

    }
}


textarea {
    width: 100%;
    min-height: 500px;
    font-family: Sherwood;
    font-size: 1.2em;
    letter-spacing: .05em;
}

.form-control {
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
}

.form__label,
.form__input {
    display: inline-block;
}

.form__input {
    height: 20px;
    padding: 0;
    align-self: center;
    text-align: right;
    max-width: 4em;
}
